{% extends 'base.html.twig' %}

{% block title %}My Tunes Lib - Connexion
{% endblock %}

{% block body %}
	<h2>Connexion</h2>
	{% for message in app.flashes('error') %}
		<div style="color:red">
			{{ message }}
		</div>
	{% endfor %}

	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
{% endblock %}